*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(23, 23, 23);
    font-family: sans-serif;
    color: aliceblue;
    overflow-x: hidden;
    width: 100%;
}
.nav{
  width: 100%;
  box-sizing: border-box;
  padding: 0 10vw; 
  height: 60px;
  color: aliceblue;
  display: flex;
  gap: 3vw;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(65, 233, 43);

}

.nav img{
    height: 80%;
    width: 40px;
    align-self: center;
}
.material-symbols--search-rounded {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}

.famicons--cart-outline {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='176' cy='416' r='16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Ccircle cx='400' cy='416' r='16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M48 80h64l48 272h256'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M160 288h249.44a8 8 0 0 0 7.85-6.43l28.8-144a8 8 0 0 0-7.85-9.57H128'/%3E%3C/svg%3E");
}
.ex{
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(147, 147, 147, 0.442);
    font-size: 14px;
    height: 20px;
}
.baner img{
    width: 100%;
    height: auto;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 65vh; */
    box-sizing: border-box;
    padding: 0 15vw;
    text-align: center;
}

.more h1{
    color: rgb(65, 233, 43);
    font-size: 67px;
    margin-bottom: 30px;
}
.more p{
    font-size: 20px;
    margin-bottom: 20px;
}
#p1{
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 30px;
}
.more a{
    color: rgb(65, 233, 43);
}
.FAMILY{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.FAMILY h1{
    font-size: 40px;
}
.items{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.pro1{
    width: 290px;
    height: auto;
}
.p1_i{
    width: 100%;
    height: 300px;
    background-color: rgb(28, 27, 27);
}
.p1_d{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #303030;
     padding: 5% 5%;
     height: 220px;
     justify-content: space-between;
}
.i_i{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.buy{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
   
}
.buy_now{
    height: 30px;
    width: 70px;
    background-color: rgb(65, 233, 43);
    color: black;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
.d_d{
    font-size: 16px;
    color: rgb(169, 169, 169);
}
.HOLIDAY{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 5vh;
}
.HOLIDAY h1{
    font-size: 40px;
}